{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 offset-md-1 text-center mt-5">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-12 offset-md-1 text-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum consequuntur eum non officia minima autem cupiditate! Iure nam, commodi quidem explicabo magni ab debitis et quod, asperiores deleniti ut.</p>

  </div>
</div>
{%endblock%}